<div class="row">
    <div class="col s6 offset-s3">

        {{#if error}}
        <p class="alert">{{error}}</p>
        {{/if}}

        <h1>Set new password</h1>
        <form action="/auth/password" method="POST">
            <div class="input-field">
                <input id="password" name="password" type="password" class="validate" required>
                <label for="password">New password</label>
                <span class="helper-text" data-error="Type password" data-success="right"></span>
            </div>
            {{!-- middleware csrf будет смотреть на input с спец названием _csrf, для того, чтобы сравнить токен,
            который придет в value --}}
            {{!-- {{csrf}} приходит в views с помощью middleware variables --}}
            {{!-- добавляем этот спец input для всех форм, которые обрабатывают POST зыпрос --}}
            <input type="hidden" name="_csrf" value="{{csrf}}" />
            {{!-- для лучшей защиты --}}
            <input type="hidden" name="userId" value="{{userId}}" />
            <input type="hidden" name="token" value="{{token}}" />
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
</div>