<h1>Edit {{course.title}}</h1>

<form action="/courses/edit" method="POST">
    <div class="input-field">
        <input id="title" name="title" type="text" class="validate" required value="{{course.title}}">
        <label for="title">Course name</label>
        <span class="helper-text" data-error="Type name" data-success="right"></span>
    </div>
    <div class="input-field">
        <input id="price" name="price" type="text" class="validate" required min="1" value="{{course.price}}">
        <label for="price">Course price</label>
        <span class="helper-text" data-error="Type price" data-success="right"></span>
    </div>

    <div class="input-field">
        <input id="image" name="image" type="text" class="validate" required value="{{course.img}}">
        <label for="image">Course image</label>
        <span class="helper-text" data-error="Type url" data-success="right"></span>
    </div>

    {{!-- для уже существующих курсов хотим передавать вместе с формой id курса, чтобы обновлять его данные в базе по id --}}
    <input type="hidden" name="id" value="{{course.id}}" />
    <button class="btn btn-primary">Edit course</button>
</form>